
</div>
  	<div class="four wide column">
  		<div class="ui vertical menu">
 		 <a class="item" href="/">
   		 <h4 class="ui header">Promotions</h4>
   		 <p>Check out our new promotions</p>
  		</a>
  		<a class="item" href="/">
  		  <h4 class="ui header">Coupons</h4>
  		  <p>Check out our collection of coupons</p>
 		 </a>
 		 <a class="item" href="/">
  		  <h4 class="ui header">Rebates</h4>
  		  <p>Visit our rebate forum for information on claiming rebates</p>
 		 </a>
		</div>
  	</div>
  </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui container" id="paging">
	<div class="ui pagination menu">
  <a class="active item">
    1
  </a>
  <div class="disabled item">
    2
  </div>
  <a class="item">
    3
  </a>
  <a class="item">
    4
  </a>
  <a class="item">
    5
  </a>
</div>
</div>

<div class="ui hidden divider"></div>
<div class="ui segment">
	<div class="ui two column centered grid">
		<div class="column">
			©2017 Ferrans Chen. All rights reserved.
		</div>
		<div class="column">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>
</div>

</body>
</html>