<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</head>
<body>
  <div class="ui borderless fixed stackable menu" id="main-menu">
    <div class="ui container">
    <a class="ui item" href="/">
        <h2> <i class="coffee icon"></i>Devnotes of Ferrans </h2>
    </a>
    <a class="ui item" href="/">
        <h2>C/CPP</h2>
    </a>
    <a class="ui item" href="/">
        <h2>WEB</h2>
    </a>
    <a class="ui item " href="/">
        <h2>DATABASE</h2>
    </a>
    <a class="ui item " href="/">
        <h2>LINUX</h2>
    </a>
    <div class="ui item right">
    	
    </div>
    <a class="ui item">
    	<div class="ui icon input">
  		<i class="search icon"></i>
  		<form action="">
  		<input type="text" placeholder="Search..." name="keyword">
  		</form>
		</div>
	    </div>
    </a>

  </div>
<div class="ui container">
  <div class="ui grid">
  	<div class="twelve wide column">
  		
  	