body {
  background-color: #fff;
}

.ui.menu.fixed {
  border-radius: 0;
  background-color: rgba(255,255,255,0.95);
}

.ui.segment {
  border-radius: 0;
}

#paging {
  
}


.ui.grid {
	margin-top: 5em;
	margin-bottom: 5em;
}