<% include ./partials/header %>

<div class="ui huge header">修改文章</div>
<form class="ui form" action="/posts/<%= post._id %>?_method=PUT" method="POST">
  <div class="field">
    <label>標題</label>
    <input type="text" name="post[title]" placeholder="標題" value="<%= post.title%>">
  </div>
  <div class="field">
    <label>圖片位址</label>
    <input type="text" name="post[image]" placeholder="圖片URL" value="<%= post.image%>">
  </div>
  <div class="field">
    <label>內容</label>
    <textarea name="post[body]"><%= post.body%></textarea>
  </div>
  <button class="ui button" type="submit">送出</button>
</form>

<% include ./partials/footer %>