<% include ./partials/header %>


<div class="ui segments">
  <div class="ui teal segment">
    <h1><%=post.title%></h1>
  </div>
  <div class="ui segment">
    <p><%=post.body %></p>
  </div>
  <div class="ui secondary segment">
    <a href="/"><i class="empty heart icon"></i>喜歡</a>

    <a href="/"><i class="external share icon"></i>分享貼文</a>    
  </div>
</div>
     <form id="delete" class="ui form" action="/posts/<%=post._id%>?_method=DELETE" method="POST">
      <a class="ui pink basic button" href="/posts/<%= post._id%>/edit"><i class="edit icon"></i>編輯貼文 </a>
      <button class="ui red basic button" type="submit" ><i class="trash outline icon"></i>刪除貼文</button>
      <a class="ui blue basic button" href="javascript:history.back()">上一頁</a>
    </form>



<% include ./partials/footer %>